* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
}

.navbar,
.navbar ul {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.navbar {
    justify-content: space-between;
}

.navbar li {
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
}

.active--link {
    border-bottom: 1px solid black;
}

.default--link {
    border-bottom: 1px solid transparent;
}

button {
    padding: 0.5em 1em;
}

button + button {
    margin-left: 2em;
}

p {
    margin-top: 1em;
}

.product-overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;gap: 1em;
}

.product-card {
    list-style-type: none;
}

.product-img-lg,
.product-img {
    width: 200px;
    height: 250px;
    background-color: #dcdcdc;
    margin-top: 1em;
    border-radius: 5px;
}

.product-img-lg {
    width: 600px;
    height: 300px;
}

.product-description {
    max-width: 600px;
}